.add-option-error {
    color: $off-white;
    font-style: italic;
    padding: 0 $m-size;
    margin: $m-size 0 0 0;
}

// add=option
.add-option {
    display: flex;
    flex-direction: column;
    padding: $m-size;

    &__input {
        flex-grow: 1;
        background: $dark-blue;
        border: none;
        border-bottom: .3rem solid darken($dark-blue, 10%);
        // margin-right: $s-size;
        margin: 0 0 $s-size 0;
        color: $off-white;
        padding: $s-size;
    }
}

@media (min-width: 45rem) {
    .add-option {
        flex-direction: row;

        &__input {
         margin: $s-size;
        }
    }
}