
// big button
.big-button {
    background-color: $purple;
    border: none;
    border-bottom: .6rem solid darken($purple, 10%);
    color:#fff;
    font-weight: bold;
    font-size: $l-size;
    width: 100%;
    margin-bottom: $xl-size;
    padding: 2.4rem;

    &:disabled {
        opacity: .5;
    }
}

// button

.button {
    background-color: $purple;
    border: none;
    border-bottom: .3rem solid darken($purple, 10%);
    color: #fff;
    font-weight: 500;
    padding: $s-size;
    
    &--link {
        background: none;
        border:none;
        color:$off-white;
        padding: 0;
    }
}